<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <% for(let i = 0 ; i <= 10 ; i++){%>
        <h1>
            <%= i %>
        </h1> 
    <% } %>

    <% if(true){ %>
        <h1>Yeah! it's true. :)</h1>  
    <% }else { %>
        <h1>OOPS! it's false. :(</h1>
    <% } %>
    
</body>
</html>